.search {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 1px 1em 1px;
}

.search input {
  border: 0;
  width: 100%;
  color: #35363E;
  background-color: #FAFAFA;
}

.header button {
  margin-left: 1em;
}

.header button span {
  margin-left: .5em;
}

.action { display: flex;}
