.header {
  display: flex;
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.illustration {
  flex: 3;
}

.wrapper {
  flex: 2;
}

.input-group {
  font-size: 14px;
  text-align: left;
  font-weight: 500;
}

.input-group > input {
  margin-top: 5px;
}

