.modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal div img {
  margin-bottom: 65px;
}

.modal div span {
  font-size: 24px;
  color: #35363E;
  margin-bottom: 30px;
}

.modal div + div {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.button, .button-cancel {
  width: 172px;
}

.button-cancel {
  margin-left: 20px;
}
