nav {
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #0C29D0;
  color: #FAFAFA;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
nav .navigation {
  background-color: #0C29D0;
  display: flex;
  color: #FAFAFA;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  position: static;
  height: 60px;
}

nav .navigation > h2 {
  font-size: 30px;
}

nav .menu {
  font-size: 18px;
  font-weight: 500;
}

nav .menu a {
  margin-right: 50px;
  text-decoration: none;
  color: #FAFAFA;
}

nav .user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}

nav .user span {
  margin-right: 1em;
}

nav .user button {
  margin-left: 2em;
}
